@model Catalog.Report.Models.GenerateBatchReportViewModel
@{
    ViewBag.Title = "Generate Batch Report";
    Layout = "_Layout";
}

<h5>Batch Report Generation</h5>
<div class="report-generation-form">
    <form asp-action="GenerateBatchReport" method="post">
        <div class="form-group">
            <label for="from">Please select date `From`:</label>
            <input type="date" class="form-control form-control-sm" id="from" asp-for="From">
        </div>
        <div class="form-group">
            <label for="to">Please select date `To`:</label>
            <input type="date" class="form-control form-control-sm" id="to" asp-for="To">
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Generate</button>
    </form>
</div>